<div class="w-full flex items-start justify-center">

  <div class="flex flex-col items-center text-center gap-10 relative max-h-[555px]">
    <article>
      <img src="/assets/images/notification-success.webp" alt="Page Success Form Submit" loading="lazy"
        type="image/webp" />
    </article>
    
    <div>
      <h1 class="absolute bottom-[55px] left-0 right-0 opacity-80	text-gray-300 text-[17vw] md:text-[117px]">Gracias!</h1>
      <h3>Su petición ha sido enviada correctamente</h3>
      <p>Uno de nuestros asesores se pondrá en conctato usted.</p>
    </div>

    <a [routerLink]="['/']" class="w-full flex justify-center">
      <button class="btn bg-primary text-white">Volver al inicio</button>
    </a>
  </div>

</div>
