<div class="w-full flex items-start justify-center">

  <div class="flex flex-col items-center text-center gap-10 relative max-h-[555px]">
    <article>
      <img src="/assets/images/404.webp" alt="Page Success Form Submit" loading="lazy"
        type="image/webp" />
    </article>
    
    <div>
      <h1>ERROR 404</h1>
            <h3>Lo Siento, no se encontro la página</h3>
            <p>Es posible que haya escrito la dirección incorrectamente o que haya usado un enlace desactualizado.</p>
    </div>

    <a [routerLink]="['/']" class="w-full flex justify-center">
      <button class="btn bg-primary text-white">Volver al inicio</button>
    </a>
  </div>

</div>
