  @if(data) {
    <div class="w-screen flex flex-col justify-center">

      @if(1 == 1) {
        <div class="w-screen flex justify-center bg-[top] md:bg-center bg-no-repeat bg-[length:auto_100vw] md:bg-cover bg-primary" [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
          <div class="w-screen max-w-auto md:max-w-6xl flex flex-col md:flex-row justify-between items-start md:items-center">
            <div class="header-home h-56 md:h-full flex flex-col md:gap-4 text-3xl md:text-5xl font-extrabold text-white pt-2 md:pt-28 relative">
              <!-- <div class="div-alert">
                <p>Página de ElegiMejor, comparador de planes de salud.</p>
              </div> -->
              
              <p class="py-1 px-2 drop-shadow-lg max-w-[460px] md:lowercase">
                <span class="hidden md:inline-flex normal-case">Medicus,</span> Expertos en lo que
              </p>

              <p class="flex flex-wrap gap-1">
                <span class="py-1 px-2 bg-primary">te hace bien</span>
              </p> 

              

              @if(data.discount) {  
                <div class="descuento 
                            w-[120px] md:w-[150px] h-20 md:h-36 
                            rounded-r-full md:rounded-full bg-[#f5bd00] text-white shadow-lg 
                            flex items-center justify-around font-semibold select-none">
                  
                  <!-- Bloque izquierdo -->
                  <div class="bloqueUno">
                    <p class="text-sm md:text-lg leading-3">HASTA</p> 
                    <div class="flex relative">
                      <p class="text-4xl md:text-7xl">{{ companyFullData?.percentage_on_web || data.discount }}</p>
                      <span class="text-2xl md:text-2xl">%</span>
                      <span class="text-lg absolute bottom-2 md:bottom-none md:bottom-5">OFF</span>
                    </div>
                    <p class="text-sm md:text-lg">3 MESES</p>
                  </div> 

                </div>                        
              }
            </div>

            <!-- <div class="w-full max-w-auto md:max-w-96"> -->
              <app-form [company]="data"></app-form>
            <!-- </div> -->
          </div>
        </div>
      }

      @if(data.sanatorios; as items) {
        <section id="sanatorios" class="flex justify-center py-5 bg-[#4837bf] md:bg-primary" [ngStyle]="{'color': data.color_secundary}">
          <div class="w-screen max-w-[96%] md:max-w-6xl flex justify-between items-center flex-wrap gap-12 py-12 bg-[#4837bf] md:bg-primary">
            <div [class]="titleLine">
              <h2 class="px-0 md:px-4 font-bold text-2xl md:text-3xl leading-8 tracking-wide bg-[#4837bf] md:bg-primary">
                Sanatorios de la Cartilla
              </h2>
            </div>

            <owl-carousel-o [options]="customOptions" class="w-full">
              @for (slide of items; track slide.name) {
                <ng-template carouselSlide>
                  <img
                    [srcset]="'/assets/images/logos/sanatorios/' + slide.name + '.webp'"
                    [alt]="'Sanatorio ' + slide.name + ' de ' + data.name"
                    [title]="'Sanatorio ' + slide.name + ' de ' + data.name" style="width: 150px;" type="image/webp">
                </ng-template>
              }
            </owl-carousel-o>
          </div>
        </section>
      }

      @if(data.plans; as items) {
        <section id="planes" class="flex justify-center py-5" [ngStyle]="{'color': data.color_primary}">
          <div class="w-screen max-w-[100%] flex justify-center flex-wrap gap-10 py-5"> 

            <div class="w-screen max-w-[100%] flex justify-center flex-wrap gap-10 py-5 md:max-w-6xl">
              <div [class]="titleLine">
                <h2 class="px-0 md:px-4 font-bold text-2xl md:text-3xl leading-8 tracking-wide" [ngStyle]="{'background': data.color_secundary}">
                  PLANES FLEXIBLES PARA VOS
                </h2>
              </div>
            </div>

            
            <div class="planes-container w-full mx-auto px-4 md:px-0 pt-6">  
                @for (item of items; track item) {
                              
                  <div class="planes-card-wrapper relative rounded-3xl" [id]="item.title.data.replace(' ', '-') | lowercase">
    
                    <div class="planes_card">
    
                      <div>
                        <div class="planes_card-id">
                          <img 
                            [src]="'/assets/images/company/' + data.key_name + '/' + item.title.image + '.webp'"
                            [alt]="'Plan ' + item.title.image + ''"  
                            loading="lazy">
                        </div>
    
                        <p class="plan_title" [innerHTML]="item.title.title_plan"></p>
    
                        <p class="plan_description" [innerHTML]="item.title.description"></p>
    
                        <div class="planes_card-line my-5 w-full h-[1px] bg-gray-300"></div>
    
                        <div class="planes_card-list px-4 space-y-3">
                          @for (subitem of item.benefits; track subitem) {
                            <div class="planes_card-item ">
                              <div class="planes_card-check">
                                <div class="planes_card-icon ">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 8 8" fill="none">
                                    <path d="M0.667969 4.41667L2.7513 6.5L7.33464 1.5" stroke="currentColor" stroke-width="1.25"></path>
                                  </svg>
                                </div>
                              </div>
                              <div [innerHTML]="subitem.title"></div>
                            </div>
                          }
                        </div>
    
                        <!-- BOTÓN -->
                        <div class="max-w-full px-4 mt-6 mb-4">
                          <button class="btn rounded-lg shadow-lg font-bold tracking-wider bg-[#ff5863] text-white w-full h-11" (click)="scrollTop()">
                            {{'COTIZÁ EL PLAN' | uppercase}}
                          </button>
                        </div>
    
                      </div>
    
                    </div>
                  </div>
                }
            </div>
 

          </div> 
        </section>
      }

      <section id="planes_flex" class="flex justify-center py-5">
        <div class="w-screen max-w-[100%] md:max-w-6xl flex justify-center flex-wrap gap-10 py-5">
            <div class="plan-flex">
              <div class="flex-info">
                <p class="flex-title">PLAN FLEX</p>
                <p class="flex-subtitle">PAGÁ HASTA UN 25% MENOS</p>

                <div class="flex-items">
                  <ul>
                    <li> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 8 8" fill="none"><path d="M0.667969 4.41667L2.7513 6.5L7.33464 1.5" stroke="currentColor" stroke-width="1.25"></path>
                      </svg>
                      Con cualquier plan (Azul, Celeste, Family o Integra, y reducir el valor de tu cuota mensual)
                    </li>
                    <li> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 8 8" fill="none"><path d="M0.667969 4.41667L2.7513 6.5L7.33464 1.5" stroke="currentColor" stroke-width="1.25"></path>
                      </svg>
                      Con copago para consultas y estudios
                    </li>
                    <li> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 8 8" fill="none"><path d="M0.667969 4.41667L2.7513 6.5L7.33464 1.5" stroke="currentColor" stroke-width="1.25"></path>
                      </svg>
                      Sin copago si te atendes en el Centro Medicus Azcuenaga!
                    </li>
                  </ul>
                </div>
              </div>

              <div class="flex-img">
                <img src="/assets/images/company/medicus/imgFlex.webp" alt="Plan Flex">
              </div>
            </div>
          </div>
      </section> 

      @if(data.needs; as items) {
        <section id="tipos" class="flex justify-center py-5 bg-primary" [ngStyle]="{'color': data.color_secundary}">
          <div class="w-screen max-w-[100%] flex justify-center flex-wrap gap-10 py-5">
            <div class="w-screen max-w-[100%] flex justify-center flex-wrap gap-10 py-5 md:max-w-6xl">
              <div [class]="titleLine">
                <h2 class="px-0 md:px-4 font-bold text-2xl md:text-3xl leading-8 tracking-wide bg-primary">
                  Beneficios adicionales
                </h2>
              </div>

            </div>

            <owl-carousel-o [options]="customOptionsBeneficios" class="w-full" style="padding: 0px 25px;">
              @for (item of items; track item) {
                <ng-template carouselSlide>
                  <div class="promo-card">
                    <div class="promo-header">
                      <img [srcset]="'/assets/images/logos/beneficios/' + item.img + '.webp'" [alt]="item.title" class="promo-logo" />
                      <span class="promo-title" [innerHTML]="item.title"></span>
                    </div>
    
                    <p class="promo-text" [innerHTML]="item.subtitle"></p>
                  </div>
                </ng-template>
              } 
            </owl-carousel-o> 
 
          </div>
        </section>
      }

      @if(data.sanatorio_unico; as centros) {
        <section id="sanatorio" class="flex justify-center py-5" [ngStyle]="{'color': data.color_primary}">
          <div class="w-screen max-w-[100%] flex justify-center flex-wrap gap-10 py-5">

            <div class="w-screen max-w-[100%] flex justify-center flex-wrap gap-10 py-5 md:max-w-6xl">
              <div [class]="titleLine">
                <h2 class="px-0 md:px-4 font-bold text-2xl md:text-3xl leading-8 tracking-wide" [ngStyle]="{'background': data.color_secundary}">
                  Centros Medicus Propios
                </h2>
              </div>
            </div> 

            <div class="grid-centros w-full max-w-6xl mx-auto px-4 md:px-0 pt-6">
              @for (centro of centros; track centro) {
                <div class="centro-card">
                  <img class="centro-img"
                    [src]="'/assets/images/company/medicus/centros/' + centro.image + '.webp'"
                    [alt]="centro.title"
                  />

                  <h3 class="centro-title">{{ centro.title }}</h3>
                  <p class="centro-desc">{{ centro.description }}</p>
                </div>
              }
            </div> 

          </div>
        </section>
      } 
    </div>
}
