<div class="w-screen h-14 md:h-16 fixed flex justify-center bg-white shadow-xl p-2 z-50">
  <div class="w-screen max-w-6xl flex justify-between items-center relative">
    @if(company; as c) {
      <a [routerLink]="['/']">
        <img [srcset]="'/assets/images/company/' + c.key_name + '/logo.webp'" [alt]="c.name + ' logo'" [width]="160" [height]="50" type="image/webp" loading="lazy">
      </a> 
    }
    @else {
      <div></div>
    }

    <a [routerLink]="['/']">
      @if(onTop) {
        <img srcset="/assets/images/logos/elegimejor-bw.webp" alt="ElegiMejor Logo" [width]="120" [height]="22" type="image/webp">
      }
      @else {
        <div class="btn-cotizar">
          <a (click)="onBtnCompany()" class="btn-red">
            Cotizá ahora
          </a>
        </div>
      }
    </a>
  </div>  
</div>