/* index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@layer base {
  html {
    --color-primary: #042e75;
    --color-secondary: white;
    --color-tertiary: #ff5863;
    --color-tertiary-hover: #ff4d4f;
    --color-typography: black;
  }
}

* {
  margin: 0;
  padding: 0;
  /* color: var(--color-primary); */
  /* font-family: "Roboto-Regular"; */
}

html,
body {
  overflow-x: hidden;
}

/* Establece el fondo del cuerpo usando el color secundario definido en tailwind.config.js */
body {
  background-color: var(--color-secondary);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* https://webkit-scroll-gen.sourceforge.net/ */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 50px;
  box-shadow: 0px 0px 0px 100000vh transparent;

}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-primary);
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ===== END Scrollbar CSS ===== */


.owl-carousel.owl-drag .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tailwind generic classes */
@layer components {
  .btn {
    @apply flex;
    @apply gap-1;
    @apply items-center;
    @apply justify-center;

    @apply rounded-full;

    @apply hover:brightness-90;
    @apply focus:outline-none;
    @apply active:brightness-90;

    @apply px-4;
    @apply py-2;

    @apply disabled:opacity-50
  }

  img {
    @apply pointer-events-none;
  }
}

.btn-cotizar {
  display: flex;
  align-items: center;

  .btn-red {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-tertiary);
    ;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-tertiary-hover);
      ;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.labelClass {
  color: #7755fe;
}

.div-alert {

  p {
    color: #ffffff;
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 800;
    margin-top: -110px;
  }

  @media (max-width: 650px) {
    p {
      color: #ffffff;
      padding: 5px 10px;
      font-size: 12px;
      margin-top: -35px;
      margin-bottom: -10px;

      width: 350px;

      background: #bdbdbd;
      background: linear-gradient(0deg, rgb(189 189 189 / 0%) 0%, rgb(82 82 82 / 74%) 100%);
    }
  }
}

.header-home { 

  @media (max-width: 650px) {
    margin-top: -10px;

    p {
      font-size: 22px !important;
    }
  }
}

.bloqueUno {
  .text-lg {
    font-size: 20px;
    right: -20px;
    top: 10px;
  }

  p {
    line-height: 40px;
  }

  .text-2xl {
    font-size: 24px;
    position: relative;
    top: -15px;
    left: 3px;
  }

  .text-7xl {
    line-height: 50px !important;
  }
}

.bloqueDos {

  height: 100px;

  p {
    font-size: 16px;
    line-height: 40px;
  }

  .text-4xl {
    font-size: 55px;
    line-height: 25px;
  }

  .text-2xl {
    font-size: 20px;
    position: relative;
    top: -15px;
  }

  .text-lg {
    font-size: 16px;
    top: 5px;
    right: -18px;
  }

  .text-post {
    line-height: 20px;
  }

}


/** planes **/
.planes-container {
  display: grid;
  gap: 30px;

  grid-template-columns: 1fr;
  margin: 0px 25px;

  @media (min-width: 850px) and (max-width: 1349px) {
    grid-template-columns: repeat(2, 1fr);
  } 

  @media (min-width: 1350px) and (max-width: 1599px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 150px;
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 150px;
  }
}

.planes-card-wrapper {
  width: 100%;

  @media (min-width: 900px) {
    flex: 0 0 380px;
    scroll-snap-align: start;
  }

  @media (min-width: 900px) {
    flex: 0 0 380px;
    scroll-snap-align: start;
  }
}

.planes-container-desktop { 
  width: 100%;
  max-width: 620px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.planes-card-wrapper-desktop {
  width: 100%;
  height: 1260px;

  @media (min-width: 900px) {
    flex: 0 0 380px;
    scroll-snap-align: start;
  }
}

.planes_card-desktop {
  background: #ffffff;
  border-radius: 28px;
  box-shadow: 0 8px 22px rgba(78, 132, 255, 0.10);
  padding: 20px;
  width: 420px; 
  height: 920px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #062A54;
  font-family: "Inter", sans-serif;

  &-id img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  } 

  @media (max-width: 1450px) { 
    height: 940px;
  }

  @media (max-width: 1450px) { 
    height: 940px;
  }

  .plan_title {
    color: #042e75;
    font-size: 28px;
    margin: 20px 0px;

    @media (max-width: 650px) { 
      line-height: 40px;
    }
  }


  .planes_card-id {
    img {
      width: 150px;
    }
  }

  .planes-description {
    font-size: 17px;
    line-height: 1.45;
    color: #44556C;
    text-align: left;
  }

  .planes_card-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    color: #062A54;
    font-size: 16px;
    line-height: 1.4;
  }

  .planes_card-check {
    background-color: #3182CE;
    border-radius: 100%;
    display: flex;
  }

  svg {
    color: white;
    width: 10px;
    height: 10px;
    margin: 5px;
  }
}

.planes_card {
  background: #ffffff;
  border-radius: 28px;
  box-shadow: 0 8px 22px rgba(78, 132, 255, 0.10);
  padding: 40px 32px;
  width: 100%;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #062A54;
  font-family: "Inter", sans-serif;

  &-id img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }

  @media (max-width: 650px) { 
    min-height: auto;
  } 

  .plan_title {
    color: #042e75;
    font-size: 26px;
    margin: 20px 0px;

    @media (max-width: 650px) { 
      line-height: 30px;
    }
  }


  .planes_card-id {
    img {
      width: 150px;
    }
  }

  .planes-description {
    font-size: 17px;
    line-height: 1.45;
    color: #44556C;
    text-align: left;
  }

  .planes_card-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    color: #062A54;
    font-size: 16px;
    line-height: 1.4;
  }

  .planes_card-check {
    background-color: #3182CE;
    border-radius: 100%;
    display: flex;
  }

  svg {
    color: white;
    width: 10px;
    height: 10px;
    margin: 5px;
  }

}

.planes_content{
    flex:1;    
}

.planes_footer{
    margin-top:auto;   
    @media (max-width: 650px) { 
      margin-top: 35px;
    }
}



.plans-carousel-wrapper {
  position: relative;
  width: 100%;

   .button-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .right {
        background-color: gray;
        color: white;
        border-radius: 10%;
        margin-left: 2px;
        width: 30px;
      }

      .left {
        background-color: gray;
        color: white;
        border-radius: 10%;
        margin-right: 2px;
        width: 30px;
      }
    }

}

.plans-carousel {
  overflow: hidden;
  width: 100%;
}

/* TRACK */
.plans-track {
  display: flex;
  gap: 10px;
  overflow-x: auto; 
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 520px;
}
 
.plans-slide {
  flex: 0 0 420px;   
  min-width: 420px;
}
 
@media (max-width: 1024px) {
  .plans-slide {
    flex: 0 0 50%;
    min-width: 50%;
  }
}

/* ocultar scrollbar */
.plans-track::-webkit-scrollbar {
  /* display: none; */
} 


/** Final planes **/

.plan-flex {
  max-width: 1200px;
  border-radius: 20px;
  padding: 55px 35px;
  background-color: #6a9ef9;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 30px;

  @media (max-width: 650px) {
    margin: 0px 20px;

    padding: 45px 20px;
  }
}

.flex-info {
  width: 50%;

  @media (max-width: 650px) {
    width: 100%;
  }

}

.flex-title {
  color: white;
  font-size: 45px;
  font-weight: 900;
  line-height: 1;

  @media (max-width: 650px) { 
    font-size: 35px;
  }
}

.flex-subtitle {
  color: #042e75;
  font-size: 45px;
  font-weight: 800;

  margin-bottom: 30px;

  @media (max-width: 650px) { 
    font-size: 32px;
  }
}

.flex-items ul li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  justify-content: flex-start;
  font-size: 18px;
  font-size: 18px;
}

.flex-items ul li svg {
  margin-top: 2px;
  align-self: flex-start;
  width: 20px;
  height: 20px;
  padding: 5px;
  flex-shrink: 0;
  color: white;
  background-color: #042e75;
  border-radius: 100%;

  @media (max-width: 650px) { 
    margin-top: 5px;
  }
}

.flex-img {
  width: 50%;
  img {
    border-radius: 30px;
    width: 850px;
  }
}

.container-benefits{
  margin: 25px 0px;

  @media (max-width: 650px) {
    margin: 35px 0px;
  }

  

}
::ng-deep .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

::ng-deep .owl-nav button {
  pointer-events: all;
}

::ng-deep .owl-prev,
::ng-deep .owl-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

::ng-deep .owl-prev-arrow::before {
  content: '‹';
  font-size: 28px;
  color: #0b2f6b;
}

::ng-deep .owl-next-arrow::before {
  content: '›';
  font-size: 28px;
  color: #0b2f6b;
}


.slider-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #0b2f6b;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  z-index: 20;
  cursor: pointer;
}

.left-arrow {
  left: -70px;
}

.right-arrow {
  right: -70px;
}

.promo-card {
  width: 100%;
  max-width: 620px;
  height: 230px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px 32px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.promo-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.promo-logo {
  width: 75px !important;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.promo-title {
  font-size: 28px;
  font-weight: 600;
  color: #052B60;
}

.promo-text {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #052B60;

  @media (max-width: 650px) { 
    font-size: 16px;
  }
}

.owl-carousel .owl-stage {
  display: flex;
  gap: 20px !important;
}

.grid-centros {
  display: grid;
  gap: 30px;

  grid-template-columns: 1fr;

  @media (min-width: 850px) and (max-width: 1249px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.centro-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform .2s ease, box-shadow .2s ease;
  cursor: pointer;
  padding-bottom: 18px;
  text-align: center;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
  }
}

.centro-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.centro-title {
  margin-top: 14px;
  font-weight: 600;
  font-size: 18px;
  color: #052B60;
}

.centro-desc {
  font-size: 14px;
  font-weight: 400;
  color: #052B60;
  opacity: 0.8;
}

.prestaciones-grid {
  display: none;
}

.prestacion {
  display: none;
}

.doctor_prestaciones {
  position: relative;

  .img-desktop {
    width: auto;
    max-width: 1200px;
  }

  .img-mobile {
    display: none;
  }
}

.container-sanatorium {
  margin-bottom: 35px;

  @media (max-width: 650px) {
    margin-bottom: 35px;
  }

}



@media (max-width: 650px) {

  .descuento {
    margin-top: 10px;
    padding: 10px 0px;
  }

  .h-56 {
    height: 12rem !important;
  }

  .text-xl {
    font-size: 16px;
  }

  .text-6xl {
    font-size: 45px;
  }

  .bloqueUno {
    top: 0px;
    position: relative;

    p {
      line-height: 15px;
    }

    .text-4xl {
      font-size: 36px;
      line-height: 33px;
    }

    .text-2xl {
      font-size: 16px;
      position: relative;
      top: -4px;
      left: 3px;
    }

    .text-lg {
      font-size: 14px;
      top: 12px;
      right: -12px;
    }
  }

  .bloqueDos {

    height: 45px;

    p {
      font-size: 10px;
      line-height: 12px;
    }

    .text-4xl {
      font-size: 26px;
      line-height: 25px;
    }

    .text-2xl {
      font-size: 12px;
      position: relative;
      top: -10px;
    }

    .text-xl {
      font-size: 12px;
    }

    .text-6xl {
      font-size: 45px;
    }

    .text-lg {
      font-size: 10px;
      top: 5px;
      right: -10px;
    }

    .text-post {
      line-height: 0px;
    }

  }

  .planes-container {
    margin: 0px 5px;
  }

  .flex-img {
    display: none;
  }

  .prestaciones-grid {
    display: flex;
  }

  .doctor_prestaciones {
    position: relative;

    .img-desktop {
      display: none;
    }

    .img-mobile {
      display: flex;
      width: auto;
      max-width: 420px;
    }
  }

  .prestaciones-grid {

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    justify-items: center;

    .prestacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      picture {
        display: flex;
        justify-content: center;
      }

      img {
        width: 80px;
      }

      .title {
        font-weight: bold;
        font-size: 18px;
        color: #0f3d86;
      }

      .subtitle {
        font-size: 14px;
        color: #555;
      }
    }
  }

  .prestaciones-grid .prestacion:last-child {
    grid-column: 1 / -1; /* ocupa toda la fila */
    justify-self: center;
  }
}